.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

.text-alignright {
	text-align: right;
}

/* Media Queries */

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.text-alignright {
		text-align: initial;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	
}