// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

//My button mixin -- find it on CodePen!
@mixin mybutton($color_1, $color_2) {
	width: 250px;
	margin: 10px;
	border: 2px solid $color_1;
	border-radius: 0px;
	padding: 6px 24px;
	font-size: 1.15em;
	letter-spacing: 1px;
	text-transform: uppercase;
	  color: $color_1;
	background-color: $color_2;
	  transition: all 0.25s ease-in-out;
	  &:hover {
		  background-color: $color_1;
		  border-color: $color_1;
		  color: $color_2;
	  }
	  &:active {
		  background-color: $color_1;
		  border-color: $color_1;
		  color: $color_2;
		  box-shadow: none;
	  }
	  &:focus, &:active:focus {
		  background-color: $color_1;
		  border-color: $color_1;
		  color: $color_2;
		  outline: 5px auto $color_1;
	  }
	  &:visited {
		  background-color: $color_1;
		  border-color: $color_1;
	  }
  }
  
  @mixin alt-btn($color_1, $color_2, $color_3) {
	width: 250px;
	margin: 10px;
	border: 2px solid $color_1;
	border-radius: 0px;
	padding: 6px 24px;
	font-size: 1.15em;
	color: $color_1 !important;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: transparent;
	transition: all 0.25s ease-in-out;
	&:hover {
		background-color: $color_2;
		border-color: $color_2;
		color: $color_3;
		fill: $color_3;
		text-decoration: none;
	}
	&:active {
		background-color: $color_2;
		border-color: $color_2;
		color: $color_3;
		box-shadow: none;
	}
	
	&:focus, &:active:focus {
		background-color: $color_2;
		border-color: $color_2;
		color: $color_3;
		outline: 5px auto $color_2;
	}
	
}

