h1, h2, h3, h4, h5, h6 {
	clear: both;
}


/* Media Queries */

// Extra small devices (portrait phones, less than 350px)
@media (max-width: 349.98px) {
	.display-4 {
		font-size: 2em;
	}
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .display-4 {
		font-size: 3em;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .display-4 {
		font-size: 3em;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    // all good here
}